<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoLogin Test Suite" parallel="methods" thread-count="1" verbose="1">

    <!-- Listeners for reporting and screenshots -->
    <listeners>
        <listener class-name="org.example.core.listeners.TestNGListener"/>
    </listeners>

    <!-- BDD Cucumber Tests -->
    <test name="DemoLogin Tests">
        <classes>
            <class name="org.example.runners.CucumberRunner"/>
        </classes>
    </test>

</suite>
